registry=https://healthcare-plugin-629599241110.d.codeartifact.ap-south-1.amazonaws.com/npm/home-care/
//healthcare-plugin-629599241110.d.codeartifact.ap-south-1.amazonaws.com/npm/home-care/:always-auth=true
//healthcare-plugin-629599241110.d.codeartifact.ap-south-1.amazonaws.com/npm/home-care/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
